# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/
*.iml
*.ipr
*.iws
out/

# Misc
*.swp
*.swo
